<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/vols.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Departs</servlet-name>
        <servlet-class>com.controller.Departs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Arrivees</servlet-name>
        <servlet-class>com.controller.Arrivees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vols</servlet-name>
        <servlet-class>com.controller.Vols</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alertes_sms</servlet-name>
        <servlet-class>com.controller.Alertes_sms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Departs</servlet-name>
        <url-pattern>/departs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Arrivees</servlet-name>
        <url-pattern>/arrivees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vols</servlet-name>
        <url-pattern>/vols</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alertes_sms</servlet-name>
        <url-pattern>/alertes_sms</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
